table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: white;

    th, td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
    }

    th {
        background: #007BFF;
        color: white;
    }
}
